{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<section>
    <div class="row mt-5">
        <div class="col-md-6 offset-3">
              <div class="p-4 bg-light">
                  <h3>Edit Contact</h3>
                  <form method="POST" action="">{% csrf_token %}
                       {{ form|crispy }}
                      <input type="submit" value="Update" class="btn btn-primary btn-block">
                  </form>
              </div>
        </div>
    </div>
</section>
{% endblock %}